body{
    background-color: #ecebeb;
}
* {
    box-sizing: border-box;
  }
#container{
    padding: 0;
    border: 0 solid white;
    width: 70svw;
    height: 70svw;
    background-color: white;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex:1 0 auto;
    flex-wrap: wrap;
}
#container div{
    background-color: white;
    /* width:5.625svw;
    height:5.625svw; */
    padding: 0;
}
/* #container div:hover {
    background-color: blue;
} */
#btn,#btn2, #clear{
    background-color: rgb(224, 231, 231);
    text-align: center;
    width: 20svw;
    font-size: 18px;
    border-radius: 7px;
    padding:12px;
    border:0 solid red;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:16px;
    background-color: #b5b6b6;
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
}
#colors{
    display: flex;
    background-color: rgb(223, 211, 147);
    padding: 5px;
    border-radius: 15px;
}
#colors div{
    width: 40px;
    height: 40px;
    border:2px solid silver;
    border-radius: 50%;
    flex:1 0 auto;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.black{
    background-color: black;
}
.blue{
    background-color: blue;
}
.white{
    background-color: white;
}
.yellow{
    background-color: yellow;
}
.random{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
/* #colors .random .ra{
flex:1 1 auto;
width: 35px;
height: 3px;
border: 0px solid red;
border-radius: 50%;
} */

